/*
  Chris yamasaki
  10/2/2021
  Dylan AD

  Basic stylization of my webpages. used to give every page a default look
*/

body {
  font-family: 'Raleway', serif;
  margin: 0;
  background-color: rgb(255, 255, 255);
}

li {
  margin: 2px 2px 2px 2px 2px;
}

main {
  padding-top: 5%;
  /* width: 80vw; */
  margin-top: 3rem;
}

h1 {
  font-weight: 700;
  font-size: 4vh;
}

h2 {
  margin: .9rem 0;
  font-size: 2.4rem;
}

h3 {
  margin: 0.9rem;
}

article {
  justify-content: center;
  /* max-width: 70vw; */
  flex-wrap: wrap;
}

article section {
  padding: 10px;
}

article img {
  max-width: 70%;
}

#main {
  /* max-height: 50vh; */
  max-width: 70vw;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.stick-left {
  position: fixed;
  bottom: 0;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: row-reverse;
}

nav li {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 2vh;
}

nav {
  width: 100vw;
  background-color: rgb(255, 255, 255);
}

nav a {
  text-decoration: none;
  text-align-last: left;
  color: black;
  padding: 5px 2vw;
}

blockquote p{
  width: 80vw;
  padding: 1%;
  margin: auto;
}

nav a:hover {
  color: grey;
}

footer {
  padding: 2%
}

p {
  line-height: 1.4rem;
  font-size: 1.2rem;
}

a {
  color: black;
  max-width: fit-content;
}

.button {
  padding: 0 2vw 0 2vw;
  border: 1px solid black;
  text-align: center;
  cursor: pointer;
}

.tab-header:hover {
  color: gray;
  border: 1px solid gray;
}

.portfolio {
  display: flex;
  align-items: center;
  max-width: fit-content;
  margin: 2em 0;
}

.box {
  background-color: white;
  border-radius: 2%;
  box-shadow: 6px 6px 6px 6px rgb(175, 171, 171);
  padding: 5% 5% 5% 5%;
}

.portfolio img {
  max-width: 100%;
  padding: 5%;
}

.bold, .button{
  font-weight: 1000;
  font-size: xx-large;
  margin-bottom: 0;
}

.icon-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1%;
  align-items: center;
}

.icon-group p {
  max-width: fit-content;
}

.socials {
  max-height: 50px;
}

.super {
  font-size: 6vw;
  font: bold;
  padding: 1%;
}

.sub-icon {
  font-size: .8rem;
  margin: 0 0 0 0;
}

.small-text {
  font-size: 1vh;
}

.read-text {
font-size: 1.2rem;
}

.my-row {
  flex-direction: row;
  justify-content: space-evenly;
}

.hobby {
  display: flex;
  flex-direction: column  ;
}

.hobby-box {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.center {
  align-content: center;
  display: flex;
  margin: auto;
}

.hidden {
  display: none;
}

.selected {
  text-decoration: overline;
}

.content {
  align-content: center;
  text-align: center;
  /* max-width: 50%; */
  margin: auto;
  min-height: 300px;
}

.spacer {
  width: 40%;
  height: 10vh;
  margin: 0;
}

#sub-menu {
  display: flex;
  margin: .7em 0;
  justify-content: space-around;
}

#action {
  display: flex;
}

#logo {
  font-family: 'Megrim', cursive;
  font-size: 2vh;
  /* font-weight: bolder; */
  float: left;
}

#start-up {
  padding-top: 0;
  margin-top: 0;
}

.img-side {
flex:1;
text-align: center;
}

.text-side {
flex:1;
padding: 0 1.2em;
}

.portfolio-link {
  color: black;
  text-decoration: none;
  max-width: fit-content;
  --bs-link-hover-color: none;
}

.indent p{
  padding-left: 5%;
}

.mummy {
  margin-top:5%;
  margin-bottom: 5%;
}

.mummy img {
  max-width: 70%;
  margin: 5% 5% 0% 5%;
}

.top-pad {
  padding-top: 5%;
}

button {
  border: none;
  background-color: white;
  margin-bottom:2%;
}