/*
  Chris yamasaki
  10/2/2021
  Dylan AD

  Basic stylization of my webpages. used to give every page a default look
*/
a:hover {
  color: #4B2E83;
}

body {
  font-family: 'Montserrat', serif;
  margin: 0;
  background-color: #000;
  /* background: radial-gradient(circle, #1d1d1d, #000); */
  /* background: radial-gradient(ellipse farthest-corner at 50% 50%, #1a1a1a, #000000); */
  color: #f8f8f8
}


li {
  margin: 2px 2px 2px 2px 2px;
}

main {
  padding-top: 5%;
  /* width: 80vw; */
  margin-top: 3rem;
}

h1 {
  font-weight: 700;
  font-size: 4vh;
}

h2 {
  margin: .9rem 0;
  font-size: 2.4rem;
}

article {
  justify-content: center;
  /* max-width: 70vw; */
  flex-wrap: wrap;
}

article section {
  padding: 10px;
}

article img {
  max-width: 70%;
}

#halo {
  padding: 3rem 0;
  background: radial-gradient(closest-side, #181818, #000000);
}

#main {
  display: flex;
  margin: auto;
  justify-content: center;
  max-width: 50vw;
  max-height: 40vh;
  border-radius: 25px;
  font-size: xx-large;
  font-weight: 500;
}

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.title-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10rem;
}

.margr {
  margin-right: 1rem;
}

.container {
  margin: auto;
  
}

.stick-left {
  position: fixed;
  bottom: 0;
}

.title {
  font-size: 3rem;
  font-weight: 500;
  color: #f8f8f8;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 768px) {
  .navbar .nav-buttons {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .navbar .nav-links.active {
    display: block;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000;
}

.logo img {
  height: 40px;
}

.nav-buttons.active{
  display: flex;
  gap: 50px;
}

.nav-btn {
  padding: .5rem 1rem;
  background-color: #000;
  border-radius: 10px;
  color: white;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-btn:hover {
  color: #4B2E83;
}

blockquote p{
  width: 80vw;
  padding: 1%;
  margin: auto;
}


footer {
  padding: 2%
}

p {
  line-height: 1.6rem;
  font-size: 1.2rem;
}

a {
  color: #f8f8f8;
  max-width: fit-content;
}

.button {
  padding: 0 2vw 0 2vw;
  border: 1px solid black;
  text-align: center;
  cursor: pointer;
}

.tab-header:hover {
  color: #4B2E83;
}

.tab-header {
  transition: color 0.3s;
}

.box {
  background-color: white;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #d4d4d4;
  padding: 5% 5% 5% 5%;
}

.fol-con {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition:transform 0.3s ease-in-out;
}

.folio {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
}

.folio a {
  text-decoration: none;
  outline: zero;
  transition: color 0.3s;
}

.folio a:hover {
  color: #4B2E83;
}

.fol-con:hover {
  transform: scale(1.05);
}

.folio img {
  border-radius: 50px;
}

.portfolio img {
  max-width: 100%;
  padding: 5%;
}

.portfolio {
  display: flex;
  align-items: center;
  max-width: fit-content;
  margin: 2em 0;
}

.portfolio-link {
  color: black;
  text-decoration: none;
  max-width: fit-content;
  /* --bs-link-hover-color: none; */
}

.button{
  font-weight: 400;
  font-size: xx-large;
  margin-bottom: 0;
}

.bold {
  font-weight: 700;
}

.icon-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1%;
  align-items: center;
}

.icon-group p {
  max-width: fit-content;
}

.socials {
  max-height: 50px;
}

.super {
  font-size: 6vw;
  font: bold;
  padding: 1%;
}

.sub-icon {
  font-size: .8rem;
  margin: 0 0 0 0;
}

.small-text {
  font-size: 1vh;
}

.read-text {
font-size: 1.2rem;
}

.my-row {
  margin-top: 5rem;
  margin-bottom: 5rem;
  flex-direction: row;
  justify-content: space-evenly;
}

.flexy {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hobby {
  display: flex;
  flex-direction: column  ;
}

.hobby-box {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.center {
  display: flex;
  margin: 0 1.5rem;
  font-size: xx-large;
}

.hidden {
  display: none;
}

.selected {
  text-decoration: overline;
}

.content {
  align-content: center;
  text-align: center;
  /* max-width: 50%; */
  margin: auto;
  min-height: 300px;
}

.spacer {
  width: 40%;
  height: 10vh;
  margin: 0;
}

#sub-menu {
  display: flex;
  margin: 10rem 0 3rem 0;
  justify-content: space-around;
}

#action {
  display: flex;
}

#logo {
  font-family: 'Megrim', cursive;
  font-size: 2vh;
  float: left;
}

#start-up {
  padding-top: 0;
  margin-top: 3rem;
}

.img-side {
flex:1;
text-align: center;
}

.text-side {
flex:1;
padding: 0 1.2em;
}



.indent p{
  padding-left: 5%;
  padding-right: 5%;
}

.indent a {
  transition: color 0.3s;

}

.indent a:hover {
  color: #4B2E83;
}

.mummy {
  margin-top:5%;
  margin-bottom: 5%;
}

.mummy img {
  max-width: 70%;
  margin: 5% 5% 0% 5%;
}

.top-pad {
  padding-top: 5%;
}

button {
  border: none;
  background-color: white;
  margin-bottom:2%;
}